@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7em;
    font-weight: 400;
    color: #687284;
}

a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

a:focus,
a:hover {
    outline: 0 solid;
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3c4a62;
    margin: 0 0 15px;
    font-weight: 700;
    line-height: 1.4em;
    text-transform: uppercase;
    position: relative;
}

h2 {
    font-size: 36px;
}

html,
body {
    height: 100%;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

a {
    color: #5d6b82;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 40px 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.swiper-slide:before {
    background: #3c4147;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
header{
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid rgba(243, 156, 18, .4);
}
header .menu{
    display: flex;
    align-items: center;
}